<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create</title>
        {% load static %}
        <link rel='stylesheet' href='{% static "tvShowApp/css/style.css" %}'>
    </head>
    <body>
        <div class="wrapper">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h1>Add a New Show</h1>
            <a href='/shows'>Go Back</a>
            <form action='/shows/add' method='POST'>
                {% csrf_token %}
                <h4>Title</h4>
                <input type='text' name='title'><br>
                <h4>Network</h4>
                <input type='text' name='network'>
                <h4>Release Date</h4>
                <input type='date' name='release_date'><br>
                <h4>Description</h4>
                <textarea name='desc'></textarea><br>
                <input type='submit' value='Create'>
            </form>
        </div>
    </body>
</html>